.popup__input-job{
    margin-top: 54px;
    margin-left: 36px;
    margin-right: 36px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}