.popup__input{
    width: 358px;
    margin-top: 50px;
    margin-left: 36px;
    margin-right: 36px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    padding: 0;
}

@media screen and (max-width:640px){
    .popup__input{
        margin-top: 55px;
        margin-left: 30px;
        margin-right: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        height: 14px;
    }

}